body{
    width: 100%;
    background-color: rgb(247, 243, 209);
}
.main-text{
    position: relative;
    bottom:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 100px;
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 15,
        "SHLN" 50;
    }
@keyframes imgZoom{
    0%{transform: scale(1)rotate(0deg);}
    50%{transform: scale(1.1)rotate(10deg);}
    75%{transform: scale(1.1)rotate(-10deg);}
    100%{transform: scale(1)rotate(0);}
}
.envelope{
    position: relative;
    right: 5px;  
    margin-bottom: 30px; 
    animation: imgZoom 4s ease infinite;
}

.header{
    display: flex;
    justify-content: center;
}
.footer-text{
     display: flex;
     justify-content: space-between;
     
}
@keyframes imgMove{
    0%{transform:translateY(0px);}
    50%{transform: translateY(-600px);}
    75%{transform: translateY(-200);}
    100%{transform: translateY(0px);}
    
}
@keyframes imgMove2{
    0%{transform:translateY(-600px);}
    50%{transform: translateY(-200px);}
    75%{transform: translateY(0px);}
    100%{transform: translateY(-600px);}
    
}
.diamond1 .diamond2{
    width: 100%;
    max-width: 200px;
    max-height: 150px;
}
.diamond1{
    animation: imgMove 10s linear infinite alternate;
}
.diamond2{
    animation: imgMove2 10s linear infinite alternate-reverse;
}
.btn{
    position: absolute;
    bottom:50px;
    font-size: 16px;
    border-radius: 5px;
    border-color: white;
    background-color:rgb(228, 48, 69);
    font-family: sans-serif;
    color: whitesmoke;
    transition: width 1s;
}
.btn:hover{
    background-color: rgb(255, 62, 191);
    height:40px;
    transition: all 0.8s ease-in-out;
    transition-delay: 0.8ss;
}
@keyframes imgHeart{
    from{transform: scale(1);}
    to{transform: scale(2);}
}
.heart{
    fill: rgb(224, 74, 176);
    width: 100%;
    max-width: 50px;
    max-height:45px;
    animation: imgHeart 1s ease-out infinite;
}
.mini-heart{
    fill: rgb(191, 1, 33);
    width: 100%;
    max-width: 30px;
    max-height: 15px;
    animation: imgHeart 1s ease-out infinite;
}
